.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: #d0d0d0;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
  z-index: 50;
  pointer-events: auto;
  display: inline-block;
}

#favoritos .tarjeta .heart-icon {
  color: red;
}

.heart-icon.active {
  color: red;
  transform: scale(1.3);
}

.heart-icon:active {
  transform: scale(1.5);
}

