.filtros button {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #0D0B1E;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px 0;
  width: 170px;
  z-index: 100;
  text-align: center;
}

.dropdown-menu p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin: 8px 0;
  cursor: pointer;
}

.dropdown-menu p:hover {
  background-color: rgba(0,0,0,0.05);
}
